footer {
  height: 30vh;
  width: 100vw;
}
.footerback {
  background-color: rgb(40, 38, 38);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
div.footerback2 {
  background-color: black;
  height: 12vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer > div.footerback > a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 7px;
}
footer > div.footerback > a:hover {
  background-color: rgb(148, 137, 137);
  border-radius: 8px;
  transition: 0.2s;
}
footer > div > p {
  font-size: medium;
  opacity: 0.7;
  margin: 0;
}
div.footerback3 {
  background-color: black;
  height: 8vh;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer > div.footerback3 > a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 7px;
}

footer > div.footerback3 > a:hover {
  background-color: rgb(148, 137, 137);
  border-radius: 8px;
  transition: 0.2s;
}
